@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    width: 0;
}
body{
    font-family: 'Poppins', sans-serif; 
}
a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
}
@font-face {
    font-family: 'Material-Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
h1{
    color: #426696;
    font-weight: 600;
    font-size:3rem;
    opacity: .8;
}
h2, p{
    color:#426696;
    font-weight:600;
    opacity:.8;
}
h3{
    color: #426696;
    font-weight: 600;
    opacity: .8;
}
main{
    min-height: 100vh;
    background:linear-gradient(to right top, #3bbea6, #6cdbeb );
    display:flex;
    align-items: center;
    justify-content: center;
}
.glass{
    position: relative;
    background: linear-gradient(
         to right bottom, 
         rgba(255,255,255,0.7),
         rgba(255,255,255,0.3)
         );
    min-height: 80vh;
    width:80%;
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    display: flex;
    overflow: hidden;
    margin-top: 40px;
}

.circle1,.circle2{
    background: white;
    background: linear-gradient(
         to right bottom, 
         rgba(255, 255, 255,0.8),
         rgba(255,255,255,0.3)
         );
    height: 10rem;
    width:10rem;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}

.circle1{
    top: 2%;
    right: 5%;
}

.circle2{
    bottom: 2%;
    left: 5%;
}
.dashboard{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    background: linear-gradient(
         to right bottom, 
         rgba(255, 255, 255,0.8),
         rgba(255,255,255,0.3)
         );
    border-radius:inherit;
}
.games{
    flex:2;
}
.link{
    display: flex;
    margin:30px 0;
    align-items: center;
    justify-content: center;
}
.user img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 14px 0;
}
.pro a{
    background:linear-gradient(to right top, #3bbea6, #6cdbeb );
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 15px;
    display: block;
    font-weight: bold;
    color: #fff;
}
.link a {
    font-weight: 500;
    background: linear-gradient(to right top, #3bbea6, #6cdbeb );
    color: #fff;
    padding: 4px 29px;
    border-radius: 15px;
    transition: all .3s ease-in;
}
.link a:hover {
    padding: 4px 35px;
}

/* Games */
.status{
    margin-bottom:1.5rem;
}
.games{
    margin: 2rem;
}
.card{
    display:flex;
    background: linear-gradient(
         to left top, 
         rgba(255, 255, 255,0.8),
         rgba(255,255,255,0.3)
         );
    border-radius:1rem;
    padding: 30px 30px;
    margin: 2rem 0;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
}


/* Responsive code */

@media(max-width:768px){
    .glass{
        display:block;
    }
    .dashboard{
        transition: .3s ease-in-out;
    }
    .links {
        max-height: 0;
        transition: .3s ease-in-out;
        overflow: hidden;
    }
    .links.show{
        max-height: 100%;
        overflow: inherit;
    }
}